@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url('convite.png'); /* Substitua pela imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    background-color: #ffeed6; /* Cor de fundo */
}

.convite {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    justify-content: space-between; /* Espaça os elementos no topo e no final */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* Preenche toda a altura da tela */
    padding: 20px; /* Adiciona um espaçamento interno opcional */
}

.botao {
    display: flex;
    justify-content: space-between; /* Espaça os ícones horizontalmente */
    gap: 20px; /* Espaçamento entre os ícones */
}
  
img {
    width: 75px; /* Tamanho dos ícones */
}
